@model Fiap.ProjetoFifa2018.Web.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Acesso negado";
}

<h2>Acesso negado</h2>

<h4>Seu usuário não possui acesso a essa página</h4>
<hr />

<div>
    <a asp-action="Index">Retornar</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
