@model Fiap.ProjetoFifa2018.Web.ViewModel.LoginViewModel

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<h4>Acesso Negado</h4>
<hr />

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
