@model List<Fiap.ProjetoFifa2018.Web.ViewModel.GrupoViewModel>

<ul class="grupo list-unstyled">
    @foreach (var item in Model)
    {
        <li class="col-xs-12 col-md-6">
            <h2>@item.NomeDoGrupo</h2>
            @{await Html.RenderPartialAsync("Components/Grupos/Time", item.Times);}
        </li>
    }
</ul>
