@model List<Fiap.ProjetoFifa2018.Web.ViewModel.TimeViewModel>

<ul class="time list-unstyled">
    @foreach (var item in Model)
    {
        <li>
            <div class="bandeiras @(item.Escudo.ToLower())"></div>
            <span class="nome-time">@item.NomeDoTime</span>
        </li>
    }
</ul>
