@model List<Fiap.ProjetoFifa2018.Web.ViewModel.TimeViewModel>

<ul class="time">
    @foreach (var item in Model)
    {
        <li>
            <div class="bandeiras @(item.Escudo.ToLower())"></div>
            @item.NomeDoTime
        </li>
    }
</ul>
