@model IEnumerable<Fiap.ProjetoFifa2018.Dominio.Entidades.Times.Time>

@{
    ViewData["Title"] = "Listagem de Times";
}

<h2>Listagem de Times</h2>

<h4>Todos os times cadastrados</h4>
<hr />
<p>
    <a asp-action="Create">Cadastrar novo time</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                Nome
            </th>
            <th>
                Escudo
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomeDoTime)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Escudo)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Editar</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
